
#map {
    height: 450px;
}

indeksi{
  width: 300px;
  background: #eee;
}

#kehys{
  width: 100%;
  height: 100vw;
  display: flex;
}

.indeksi-elmentti, a, a:visited{
  margin: 5px;
  margin-bottom: 5px;
  border: 0px solid #ccc;
  cursor: pointer;
  text-decoration: none; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
}
.indeksi-elmentti:hover{
  color:rgb(30, 79, 170);
}

a:hover{
  color:rgb(30, 79, 170);
}
