
#map {
    height: 450px;
}


.indeksi{
  font-size: medium;
  width: 200px;
  background: #eee;
}

.paaindeksi{
  font-size: medium;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(187, 184, 184);
  margin: 5px;
  margin-top:30px;
}


.indeksi-elmentti, a, a:visited{
  margin: 5px;
  margin-bottom: 5px;
  border: 0px solid #ccc;
  cursor: pointer;
  text-decoration: none; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
}
.indeksi-elmentti:hover{
  color:rgb(30, 79, 170);
}

a:hover{
  color:rgb(30, 79, 170);
}
